<html>

<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <br />
  <br />
  <% messages.map((message) =>{ %>
  <div class="msgBox">
    <h3><%=message.username %>:</h3><span><%=message.message %></span>
  </div>
  <br /><br />

  <br />
  <span><%=message.date %></span>
  <a href="user/<%=message.id %>"><button>Open</button></a>
  <hr />
  <% }) %>
  <hr />
  <%- include('form') -%>
  <div id="anchor"></div>
  <!-- <a href="/new"><button>NEW MESSAGE</button></a> -->
  <br>
  <a href="/delete" onclick="return confirm('Are you sure?');"><button>Clear</button></a>
</body>


</html>